li{
  list-style-type: none;
}

body{
  margin: 0;
}

.blue{
  color: #063f8f;
  background-color: white;
}

.bg-blue{
  background-color: #063f8f;
  color: white;
}

.marroon{
  color: #8F6006;
}

.bd-marroon{
  border-color: #8F6006;
}

.btn{
    border-radius: 0;
    border: none;
    padding: .5em;
}

.table{
  border: none;
  border-collapse: collapse;
}
.table thead tr th{
  padding: .5em;
  background-color: #fbda9d;
}
.table tbody tr td{
  padding: .5em
}
.table tbody tr:hover{
    background-color: #9dc4fb;
}